In [1]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext()
# Import and create a new SQLContext 
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

## Form a country table

In [2]:
# Read the country CSV file into an RDD.
country_lines = sc.textFile('datasets/country-list.csv')

In [3]:
country_lines.take(1)

['Afghanistan, AFG']

In [13]:
# Convert each line into a pair of words
words = country_lines.map(lambda line : line.split(", "))

In [14]:
words.take(4)

[['Afghanistan', 'AFG'],
 ['Albania', 'ALB'],
 ['Algeria', 'ALG'],
 ['American Samoa', 'ASA']]

In [24]:
# Convert each pair of words into a tuple
country_tuples = words.map(lambda pair : (pair[0], pair[1]))

In [25]:
country_tuples.take(4)

[('Afghanistan', 'AFG'),
 ('Albania', 'ALB'),
 ('Algeria', 'ALG'),
 ('American Samoa', 'ASA')]

In [26]:
# Create the DataFrame, look at schema and contents
countryDF = sqlContext.createDataFrame(country_tuples, ["country", "code"])
countryDF.printSchema()
countryDF.take(3)

root
 |-- country: string (nullable = true)
 |-- code: string (nullable = true)

[Row(country='Afghanistan', code='AFG'),
 Row(country='Albania', code='ALB'),
 Row(country='Algeria', code='ALG')]

## Make the whole tweet text into word tuples

In [27]:
# Read tweets CSV file into RDD of lines
users = sc.textFile('datasets/users.csv')

In [88]:
jsonDF = sqlContext.read.json(users.map(lambda r: r))

In [126]:
#json_schema = jsonDF.schema
jsonDF.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- source: string (nullable = true)
 |-- tweet_ID: string (nullable = true)
 |-- tweet_followers_count: long (nullable = true)
 |-- tweet_mentioned_count: long (nullable = true)
 |-- tweet_text: string (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- CreatedAt: struct (nullable = true)
 |    |    |-- $date: string (nullable = true)
 |    |-- FavouritesCount: long (nullable = true)
 |    |-- FollowersCount: long (nullable = true)
 |    |-- FriendsCount: long (nullable = true)
 |    |-- Location: string (nullable = true)
 |    |-- UserId: long (nullable = true)
 |-- user_name: string (nullable = true)

In [201]:
print(jsonDF.count(), len(jsonDF.columns))

11188 10

In [185]:
# https://stackoverflow.com/questions/35457927/pyspark-convert-dataframe-to-rddstring
test = jsonDF.select('tweet_text').rdd.map(list)
test.take(3)

[['RT @ochocinco: I beat them all for 10 straight hours #FIFA16KING  https://t.co/BFnV6jfkBL'],
 ['RT @NiallOfficial: @Louis_Tomlinson @socceraid when I retired from playing because of my knee . I went and did my uefa A badges in Dublin'],
 ['RT @GameSeek: Follow & Retweet for your chance to win a copy of FIFA 17 Deluxe Edition (platform of your choice) in our #giveaway! https://…']]

In [186]:
test = jsonDF.select('tweet_text').rdd.flatMap(list)
test.take(3)

['RT @ochocinco: I beat them all for 10 straight hours #FIFA16KING  https://t.co/BFnV6jfkBL',
 'RT @NiallOfficial: @Louis_Tomlinson @socceraid when I retired from playing because of my knee . I went and did my uefa A badges in Dublin',
 'RT @GameSeek: Follow & Retweet for your chance to win a copy of FIFA 17 Deluxe Edition (platform of your choice) in our #giveaway! https://…']

In [202]:
list_of_tweet_strings = jsonDF.select('tweet_text').rdd.flatMap(list)
list_of_tweet_strings.take(3)

['RT @ochocinco: I beat them all for 10 straight hours #FIFA16KING  https://t.co/BFnV6jfkBL',
 'RT @NiallOfficial: @Louis_Tomlinson @socceraid when I retired from playing because of my knee . I went and did my uefa A badges in Dublin',
 'RT @GameSeek: Follow & Retweet for your chance to win a copy of FIFA 17 Deluxe Edition (platform of your choice) in our #giveaway! https://…']

In [199]:
list_of_tweet_strings.count()

11188

In [200]:
# Clean the data: some tweets are empty. Remove the empty tweets using filter() 
# IT APPEARS THERE IS NOTHING TO CLEAN!

# jsonDF_filtered = jsonDF.filter(jsonDF.tweet_text.isNotNull())   might need to use jsonDF['tweet_text']
# print(jsonDF_filtered.count(), len(jsonDF_filtered.columns))
list_of_tweet_strings.filter(lambda line : len(line.strip()) > 0).count()

11188

In [ ]:
# Perform WordCount on the cleaned tweet texts. (note: this is several lines.)

In [204]:
list_of_tweet_word_strings = list_of_tweet_strings.flatMap(lambda line : line.split(" "))
list_of_tweet_word_strings.take(3)

['RT', '@ochocinco:', 'I']

In [205]:
list_of_tweet_word_tuples = list_of_tweet_word_strings.map(lambda word : (word, 1))
list_of_tweet_word_tuples.take(3)

[('RT', 1), ('@ochocinco:', 1), ('I', 1)]

In [206]:
tweet_word_count = list_of_tweet_word_tuples.reduceByKey(lambda a, b: (a + b))
tweet_word_count.take(3)

[('beat', 51), ('them', 70), ('10', 115)]

In [207]:
# Create the DataFrame of tweet word counts
tweet_word_count_DF = sqlContext.createDataFrame(tweet_word_count, ["word", "count"])
tweet_word_count_DF.printSchema()
tweet_word_count_DF.take(3)

root
 |-- word: string (nullable = true)
 |-- count: long (nullable = true)

[Row(word='beat', count=51),
 Row(word='them', count=70),
 Row(word='10', count=115)]

## Join the word tuple dataframe with the country dataframe

In [210]:
# Join the country and tweet data frames (on the appropriate column)
joined = countryDF.join(tweet_word_count_DF, countryDF.country == tweet_word_count_DF.word, "left_outer")
joined.take(10)

[Row(country='Anguilla', code='AIA', word=None, count=None),
 Row(country='Malaysia', code='MAS', word=None, count=None),
 Row(country='Malawi', code='MWI', word=None, count=None),
 Row(country='Afghanistan', code='AFG', word=None, count=None),
 Row(country='Maldives', code='MDV', word=None, count=None),
 Row(country='Algeria', code='ALG', word=None, count=None),
 Row(country='Macau', code='MAC', word=None, count=None),
 Row(country='Argentina', code='ARG', word='Argentina', count=3),
 Row(country='Angola', code='ANG', word=None, count=None),
 Row(country='Albania', code='ALB', word='Albania', count=1)]

In [231]:
joined.count()

211

## Answer questions

In [218]:
# Question 1: number of distinct countries mentioned
joined_filtered = joined.filter(joined['count'].isNotNull())
joined_filtered.take(3)
joined_filtered.count()

44

In [225]:
# Question 2: number of countries mentioned in tweets.
from pyspark.sql.functions import sum
joined_filtered.groupby().sum().rdd.map(lambda x: x[0]).collect() 
#The "rdd.map(lambda x: x[0]).collect()" part is here just to help return a number instead of the number in a df.

[393]

In [227]:
# Table 1: top three countries and their counts.
from pyspark.sql.functions import desc
joined_filtered_sorted = joined_filtered.sort(desc('count'))
joined_filtered_sorted.take(3)

[Row(country='Norway', code='NOR', word='Norway', count=52),
 Row(country='Nigeria', code='NGA', word='Nigeria', count=50),
 Row(country='France', code='FRA', word='France', count=45)]

In [230]:
# Table 2: Which country was mentioned most: Kenya, Wales, or Netherlands?
three_country_DF = joined_filtered.filter(joined_filtered['country'].isin(['Kenya','Iceland','Netherlands']))
three_country_DF.take(3)

[Row(country='Iceland', code='ISL', word='Iceland', count=2),
 Row(country='Kenya', code='KEN', word='Kenya', count=3),
 Row(country='Netherlands', code='NED', word='Netherlands', count=13)]